# Data
data/
*.npz
*.tif

# Model weights
*.pth
*.ckpt

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
